<article class="post-card" tabindex="-1">
    <header class="post-card-header">
        <h2 class="post-card-title">{{post.title}}</h2>
        <div class="post-card-meta">
        <div class="post-card-authors">{{post.authors | join}}</div>
        <div class="post-card-publication-date">
            <time class="full-date-time" pubdate datetime="2019-12-12T19:00:35">
                {{post.pubdate | date:'shortTime'}} <span class="full-date-time__separator">•</span> {{post.pubdate | date }}
            </time>
        </div>
        </div>
    </header>
    <section class="post-card-content truncate">
        {{post.description}}
    </section>
</article>