<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>TechCrunch</span>
  </mat-toolbar-row>
</mat-toolbar>
<main class="main-container">
  <div class="row">
    <div class="column post-card-list-container" [class.hidden-on-mobile]="selectedPost">
      <app-post-card-list [posts]="posts" (postCardSelected)="onSelectPost($event)"></app-post-card-list>
    </div>
    <div class="column full-post-content" [class.visible-on-mobile]="selectedPost">
      <app-full-post-content 
          *ngIf="selectedPost" 
          [post]="selectedPost" 
          (fullPostContentClosed)= "onClose()">
      </app-full-post-content>
    </div>
  </div>
</main>