@import 'responsive.mixin.scss';

.main-container {
    position: relative;
}

.post-card-list-container {
    max-width: 35%;

    @include for-phone-only {
        max-width: 90%;

        &.hidden-on-mobile {
            display: none;
        }
    }
}

.full-post-content {
    max-width: 57%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;

    @include for-phone-only {
        display: none;

        &.visible-on-mobile {
            display: block;
            max-width: 90%;
        }
    }
}