@import 'responsive.mixin.scss';

.main-container {
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    justify-content: space-around
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.posts {
    max-width: 35%;

    @include for-phone-only {
        max-width: 90%;
    }
}

.post-full-content {
    max-width: 57%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;

    @include for-phone-only {
        display: none;

        &.visible {
            display: block;
        }
    }
}